<ion-header>
  <ion-toolbar color='secondary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Add a Course</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm">
    <label for="title">Title</label>
    <input #inputTitle="ngModel" ngModel name="title" type="text" class="form-control" id="title">
    <div *ngIf="inputTitle.invalid && inputTitle.touched" class="alert alert-danger">Ce champ est obligatoire</div>


    <label for="author">Author</label>
    <input required ngModel name="author" type="text" class="form-control" id="author">
    <label for="image">Image</label>
    <input required ngModel name="image" type="text" class="form-control" id="image">
    <label for="keywords">Keywords</label>
    <input required ngModel name="keywords" type="text" class="form-control" id="keywords">

    <ion-button [disabled]="f.invalid" (click)="onSubmit(f.value)" expand="block" type="submit">Add</ion-button>
    <!-- <pre>
      {{ f.value | json}}
    </pre> -->



  </form>

</ion-content>